@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Futura';
    src: url(src/fonts/Futura.ttf) format('opentype');
}
@font-face {
    font-family: 'Futura-Medium';
    src: url(src/fonts/Futura-Medium.ttf) format('opentype');
}
@font-face {
    font-family: 'Nanum';
    src: url(src/fonts/Nanum.ttf) format('opentype');
}

/* root */
:root{
    --primary: #4f9e41;
    --secodary: #7abf68;
    --accent: #257e1a;
    --background: #cfffb6;
    --text: #1b1b1b;

    --font-padrao: 'Futura', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

html, body{
    width: 100%;
    height: 100%;
}

/*------------------------------------- Header -----------------------------------------------------------------*/

header{
    height: 600px;
    background-image: url(src/images/b1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerNav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    margin-block: 20px;
    max-width: 1280px;
    padding: 5px 30px;
    border: 1px solid var(--accent);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.084);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.logo{
    margin-right: auto;
    font-size: 25px;
    font-family: 'Nanum', sans-serif;
    text-align: center;
    cursor: pointer;
    color: white;
}

.navItens{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
}

.navItens li{
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 30px;
    color: rgb(218, 218, 218);
    transition: background-color 0.35s ease-in-out 0.04s;
}

.navItens li:hover{
    background-color: var(--primary);
    color: white;
}

.navItens li:nth-child(4):hover{
    background-color: #006100;
    color: white;
}

/*------------------------------- Menu Hamburger -----------------------------------------------------------------*/

.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 2.5px solid white;
    cursor: pointer;
    border-radius: 10%;
    z-index: 1;
}

.hamburger::before{
    content: " ";
    display: block;
    width: 22px;
    height: 2.5px;
    background: white;
    margin-top: 4px;
    position: relative;
    transition: 0.3s;
    border-radius: 20px;
    margin-left: auto;
}

.hamburger::after{
    content: " ";
    display: block;
    width: 25px;
    height: 2.5px;
    background: white;
    margin-top: 4px;
    position: relative;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.containerRedes{
    display: none;
}

/* Titulo da página */
.containerHeader{
    height: 100%;
    display: flex;
    align-items: center;
}

.titleHeader{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    color: white;
    justify-content: center;
    margin-left: 50px;
}

.titleHeader h1{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.889);
}

.titleHeader > p{
    margin-top: 10px;
    font-size: 20px;
    color: #e3e3e3;
    font-style: italic;
}

.containerMouse{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 90px;
}

.mouse{
    width: 25px;
    filter: invert(75%);
}

.containerMouse p{
    color: #BFBFBF;

}

/* Bento Box */
.conteinerBento{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.containerBlocks {
    width: 50%;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(3, 120px);
}

.bentoBox {
    width: 120px;
    height: 120px;
    border: 1px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#b1{
    font-weight: bold;
    font-size: 18px;
    border: none;
}

#b2{
    background-image: url(src/images/planta\ grid\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: center center;
}

#b3{
    background-color: var(--primary);
}

@media (max-width: 1100px){
    .containerHeader{
        scale: 0.85;
    }
}

@media (max-width: 930px){
    .conteinerBento{
        display: none;
    }
    .titleHeader{
        width: 100%;
    }
}

/* Celular */
@media (max-width: 480px) {
    .navItens{
        position: fixed;
        top: 0;
        left: 0px;
        width: 101vw;
        height: 100vh;
        background-color: var(--primary);
        flex-direction: column;
        align-items: normal;
        gap: 0px;
        clip-path: circle(100px at 90% -15%);
        pointer-events: none;
    }
    
    .navItens li{
        margin: 20px 0px 0px 35px;
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        font-size: 23px;
    }

    .navItens li::after {
        content: " ";
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid white;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .navItens li:hover{
        background-color: #267e1a75;
    }

    .navItens li:nth-child(4):hover{
        background-color: var(--secodary);
    }

    .navItens li:nth-child(1){
        margin-top: 100px;
    }
    
    .navItens li:nth-child(4){
        background-color: var(--accent);
        padding: 10px 15px 10px 15px;
        text-align: center;
        margin-inline: auto;
        margin-top: 20%;
        width: 70%;
        border-radius: 10px;
    }

    .navItens li:nth-child(4)::after{
        border: none;
    }

    .containerNav.active{
        width: 102vw;
        top: -21px;
        align-items: baseline;
    }

    .containerNav.active .navItens{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        transition: 0.7s ease-in;
    }

    .hamburger{
        display: block;
    }

    .containerNav.active .hamburger{
        position: fixed;
        top: 40px;
        right: 27px;
        border-top-color: transparent;
    }

    .containerNav.active .hamburger::before{
        width: 25px;
        transform: rotate(135deg);
    }

    .containerNav.active .hamburger::after{
        width: 25px;
        transform: rotate(-135deg);
        top: -6.5px;
    }

    .containerRedes{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 80px;
        font-size: 20px;
        color: #c4c4c4;
    }

    .containerRedes p{
        padding: 10px;
    }

    .containerRedes p:hover{
        background-color: #79a57e61;
        border-radius: 10px;
    }

    .titleHeader{
        padding: 0px;
        margin: 10px;
    }

    .titleHeader h1{
        font-size: 60px;
    }

    .containerMouse p{
        color: rgb(237, 237, 237);
    }
}